.title {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: $green;
    margin-top: 100px;
    &_with {
        margin-top: 0;
        color: #ffffff;
        text-align-last: left;
    }
}