.dispatch {
    background: url(../img/programs/Rectangle\ 3\ Copy\ 2.png) center (center/cover) no-repeat;
    padding: 170px 475px 170px 95px;
    &__text {
        font-family: Montserrat;
        font-weight: 500;
        font-size: 24px;
        line-height: 40px;
    }
}